In [1]:
# Import the libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Define settings
import os

pd.set_option("display.precision", 3)
data_dir_path = os.getcwd() + '/dataverse_files/'

In [3]:
# Import data
import pyreadr

croissance_et_climat_decadaires = pyreadr.read_r(data_dir_path + "croissance_et_climat_decadaires.rds" ).popitem()[1]
valorisation_annuelle = pyreadr.read_r(data_dir_path + "valorisation_annuelle.rds" ).popitem()[1]

## Exploratory data analysis of growths and decadal climates

In [166]:
df = croissance_et_climat_decadaires
df.head()

,ucs,safran,sol,type_de_prairie,gestion,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
0,789,2131,330343,tp3,20,1985.0,1.0,-2.289,3.178,0.444,12.3,28.912,43.573,0.032
1,789,2131,330343,tp3,20,1985.0,2.0,-5.740,-0.410,-3.075,19.5,33.793,104.188,0.000
2,789,2131,330343,tp3,20,1985.0,3.0,3.770,9.130,6.450,36.8,24.751,82.772,0.046
3,789,2131,330343,tp3,20,1985.0,4.0,8.230,12.450,10.340,14.4,32.975,26.195,0.075
4,789,2131,330343,tp3,20,1985.0,5.0,-1.380,2.520,0.570,25.3,48.912,88.562,0.015

In [87]:
print(df.shape)
print(df.columns)
print(df.info())

(18693829, 14)
Index(['ucs', 'safran', 'sol', 'type_de_prairie', 'gestion', 'annee', 'decade',
       'Tmin', 'Tmax', 'Tmoy', 'Rain', 'RG', 'im', 'croissance'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18693829 entries, 0 to 18693828
Data columns (total 14 columns):
 #   Column           Dtype
---  ------           -----
 0   ucs              int32
 1   safran           int32
 2   sol              int32
 3   type_de_prairie  object
 4   gestion          int32
 5   annee            float64
 6   decade           float64
 7   Tmin             float64
 8   Tmax             float64
 9   Tmoy             float64
 10  Rain             float64
 11  RG               float64
 12  im               float64
 13  croissance       float64
dtypes: float64(9), int32(4), object(1)
memory usage: 1.7+ GB
None

In [27]:
df.describe(include= "all")

,ucs,safran,sol,type_de_prairie,gestion,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
count,1.869e+07,1.869e+07,1.869e+07,18693829,1.869e+07,1.867e+07,1.867e+07,1.857e+07,1.857e+07,1.857e+07,1.857e+07,1.857e+07,1.857e+07,1.867e+07
unique,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,tp4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,10563388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,1.054e+03,2.523e+03,3.308e+05,NaN,1.362e+01,1.999e+03,1.900e+01,8.249e+00,1.464e+01,1.145e+01,2.578e+01,1.085e+02,4.798e+01,3.710e+01
std,2.229e+02,5.508e+02,6.531e+02,NaN,9.407e+00,8.626e+00,1.068e+01,4.365e+00,5.607e+00,4.893e+00,2.499e+01,6.581e+01,4.897e+01,3.066e+01
min,6.400e+02,1.309e+03,3.303e+05,NaN,1.000e+00,1.984e+03,1.000e+00,-8.760e+00,-5.380e+00,-7.020e+00,0.000e+00,7.170e+00,0.000e+00,0.000e+00
25%,8.880e+02,2.120e+03,3.306e+05,NaN,5.000e+00,1.991e+03,1.000e+01,5.040e+00,1.043e+01,7.855e+00,6.800e+00,4.684e+01,1.144e+01,1.090e+01
50%,1.080e+03,2.497e+03,3.306e+05,NaN,1.500e+01,1.999e+03,1.900e+01,8.290e+00,1.425e+01,1.118e+01,1.890e+01,1.043e+02,3.297e+01,2.812e+01
75%,1.222e+03,2.895e+03,3.306e+05,NaN,2.100e+01,2.006e+03,2.800e+01,1.191e+01,1.910e+01,1.554e+01,3.720e+01,1.615e+02,6.876e+01,5.997e+01
max,1.610e+03,3.886e+03,3.327e+05,NaN,3.000e+01,2.013e+03,3.700e+01,2.069e+01,3.117e+01,2.530e+01,2.404e+02,2.990e+02,5.007e+02,1.424e+02

In [78]:
df[["ucs", "safran", "sol", "gestion"]].corr()

           ucs  safran    sol  gestion
ucs      1.000   0.937  0.084   -0.160
safran   0.937   1.000  0.030   -0.171
sol      0.084   0.030  1.000   -0.014
gestion -0.160  -0.171 -0.014    1.000

### Feature extraction

Pedo-Climatic Units (PCU), result from the crossing of the climatic information (SAFRAN grid point) and soil information (UCS soil mapping units).

In [167]:
df_unique_pcu = df[["ucs", "safran"]].drop_duplicates(subset= ['ucs', 'safran'])
df_unique_pcu['pcu'] = df_unique_pcu.reset_index().index

df = pd.merge(df, df_unique_pcu, on= ['ucs','safran'])
df.insert(0, "pcu", df.pop('pcu'))
df.head()

,pcu,ucs,safran,sol,type_de_prairie,gestion,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
0,0,789,2131,330343,tp3,20,1985.0,1.0,-2.289,3.178,0.444,12.3,28.912,43.573,0.032
1,0,789,2131,330343,tp3,20,1985.0,2.0,-5.740,-0.410,-3.075,19.5,33.793,104.188,0.000
2,0,789,2131,330343,tp3,20,1985.0,3.0,3.770,9.130,6.450,36.8,24.751,82.772,0.046
3,0,789,2131,330343,tp3,20,1985.0,4.0,8.230,12.450,10.340,14.4,32.975,26.195,0.075
4,0,789,2131,330343,tp3,20,1985.0,5.0,-1.380,2.520,0.570,25.3,48.912,88.562,0.015

In [83]:
df[["ucs", "safran", "sol", "gestion", "pcu"]].corr()

           ucs  safran    sol  gestion    pcu
ucs      1.000   0.937  0.084   -0.160  0.428
safran   0.937   1.000  0.030   -0.171  0.442
sol      0.084   0.030  1.000   -0.014 -0.087
gestion -0.160  -0.171 -0.014    1.000 -0.075
pcu      0.428   0.442 -0.087   -0.075  1.000

In [168]:
df_unique_pcu = df[['pcu', 'sol', 'type_de_prairie', 'gestion']].drop_duplicates(subset= ['pcu', 'sol', 'type_de_prairie', 'gestion'])
df_unique_pcu['id'] = df_unique_pcu.reset_index().index

df = pd.merge(df, df_unique_pcu, on= ['pcu','sol', 'type_de_prairie', 'gestion'])
df.insert(0, "id", df.pop('id'))
df.head()

,id,pcu,ucs,safran,sol,type_de_prairie,gestion,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
0,0,0,789,2131,330343,tp3,20,1985.0,1.0,-2.289,3.178,0.444,12.3,28.912,43.573,0.032
1,0,0,789,2131,330343,tp3,20,1985.0,2.0,-5.740,-0.410,-3.075,19.5,33.793,104.188,0.000
2,0,0,789,2131,330343,tp3,20,1985.0,3.0,3.770,9.130,6.450,36.8,24.751,82.772,0.046
3,0,0,789,2131,330343,tp3,20,1985.0,4.0,8.230,12.450,10.340,14.4,32.975,26.195,0.075
4,0,0,789,2131,330343,tp3,20,1985.0,5.0,-1.380,2.520,0.570,25.3,48.912,88.562,0.015

In [169]:
df.drop_duplicates("id")

,id,pcu,ucs,safran,sol,type_de_prairie,gestion,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
0,0,0,789,2131,330343,tp3,20,1985.0,1.0,-2.289,3.178,0.444,12.3,28.912,43.573,0.032
741,1,0,789,2131,330343,tp3,21,1985.0,1.0,-2.289,3.178,0.444,12.3,28.912,43.573,0.032
1482,2,0,789,2131,330343,tp3,23,1985.0,1.0,-2.289,3.178,0.444,12.3,28.912,43.573,0.032
2223,3,0,789,2131,330343,tp3,3,1985.0,1.0,-2.289,3.178,0.444,12.3,28.912,43.573,0.032
2964,4,0,789,2131,330343,tp3,7,1985.0,1.0,-2.289,3.178,0.444,12.3,28.912,43.573,0.032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18688274,20257,1240,998,2511,330563,tp4,16,1984.0,1.0,3.000,7.756,5.378,34.0,33.100,81.806,1.337
18689385,20258,1240,998,2511,330563,tp4,18,1984.0,1.0,3.000,7.756,5.378,34.0,33.100,81.806,1.337
18690496,20259,1240,998,2511,330563,tp4,21,1984.0,1.0,3.000,7.756,5.378,34.0,33.100,81.806,1.337
18691607,20260,1240,998,2511,330563,tp4,3,1984.0,1.0,3.000,7.756,5.378,34.0,33.100,81.806,1.337
18692718,20261,1240,998,2511,330563,tp4,7,1984.0,1.0,3.000,7.756,5.378,34.0,33.100,81.806,1.337

In [126]:
(df.groupby(["id", "annee"]).count()["decade"] == 37).all()

True

There is no more than one group of consecutive decades per year and per tuple (UCS, SAFRAN, SOL, prairie, gestion).

In [127]:
(df.groupby(["id", "annee", "decade"]).count().max() == 1).all()

True

Moreover, there is only one entry per year and per decade for a fixed tuple (UCS, SAFRAN, SOL, prairie, gestion).

In [125]:
valuable_columns = ["id", "annee", "decade", "Tmin", "Tmax", "Tmoy", "Rain", "RG", "im", "croissance"]
df.groupby(["id", "decade"]).count()[["annee"]].describe().loc["min":"max"]

     annee
min   15.0
25%   20.0
50%   22.0
75%   30.0
max   30.0

Finally, only the year will change over the whole simulated period, i.e. 30 years, for each decade and for any tuple (UCS, SAFRAN, SOL, prairie, gestion).

Therefore, all groups of decades have the same values for the tuple (UCS, SAFRAN, SOL, prairie, gestion) and only the year will change (over the whole simulated period, ie 30 years).

So (UCS, SAFRAN, SOL, prairie, gestion) is the identifier.

## Preparation of croissance et climat decadaires

### Select the last 5 years

In [174]:
nb_annees = 30
annee_inf = df["annee"].max() - nb_annees
#df = df.loc[(df["annee"] > annee_inf), :]

### Sort by ID, annee and then decade

In [171]:
df.sort_values(by=["id", "annee", "decade"], inplace=True)

### Data cleansing

In [130]:
(df.isna() | df.isnull()).sum()

id                     0
pcu                    0
ucs                    0
safran                 0
sol                    0
type_de_prairie        0
gestion                0
annee                  0
decade                 0
Tmin               18796
Tmax               18796
Tmoy               18796
Rain               18796
RG                 18796
im                 18796
croissance             0
dtype: int64

In [172]:
df.dropna(inplace= True)

In [132]:
(df.isna() | df.isnull()).sum().sum() == 0

True

Now that we have removed the NaN and Null values, we need to check whether we have any missing decades among the years. We can do it by checking that the numbers of decades per (id, year) pairs are multiples of 37

In [134]:
(df.groupby(["id", "annee"]).count()["decade"] == 37).all()

True

In [178]:
(df.groupby(["id"]).count()["decade"] == nb_annees*37).sum()

9476

C'est le nombre d'id qui ont des années complètes.

### Correct the dataframe

In [43]:
df["annee"] = df["annee"].astype("int64")
df["decade"] = df["decade"].astype("int64")

In [44]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3313979 entries, 0 to 3332774
Data columns (total 16 columns):
 #   Column           Dtype
---  ------           -----
 0   id               int64
 1   pcu              int64
 2   ucs              int32
 3   safran           int32
 4   sol              int32
 5   type_de_prairie  object
 6   gestion          int32
 7   annee            int64
 8   decade           int64
 9   Tmin             float64
 10  Tmax             float64
 11  Tmoy             float64
 12  Rain             float64
 13  RG               float64
 14  im               float64
 15  croissance       float64
dtypes: float64(7), int32(4), int64(4), object(1)
memory usage: 379.3+ MB
None

In [45]:
croissance_et_climat_decadaires_preprocessed = df

## Exploratory data analysis of annual valuations

In [47]:
df = valorisation_annuelle
df.head()

,ucs,safran,sol,type_de_prairie,gestion,annee,valorisation,RU,cumul_croissance
0,1005,2245,330562,tp3,15,1985.0,4.964,97.42,8.757
1,1005,2245,330562,tp3,15,1986.0,8.173,97.42,14.620
2,1005,2245,330562,tp3,15,1987.0,12.666,97.42,16.287
3,1005,2245,330562,tp3,15,1989.0,5.825,97.42,9.063
4,1005,2245,330562,tp3,15,1990.0,7.212,97.42,11.758

## Preparation

### Feature selection

In [48]:
valuable_columns = ["ucs", "safran", "sol", "gestion", "annee", "cumul_croissance"]
df = valorisation_annuelle.loc[:, valuable_columns]

In [49]:
(df.isna() | df.isnull()).sum()

ucs                 0
safran              0
sol                 0
gestion             0
annee               0
cumul_croissance    0
dtype: int64

### Correct the dataframe

In [50]:
df = df.reset_index(drop=True)
df[["annee"]] = df[["annee"]].astype("int64")
df[["cumul_croissance"]] = df[["cumul_croissance"]].astype("float64")

In [51]:
df.head()

    ucs  safran     sol  gestion  annee  cumul_croissance
0  1005    2245  330562       15   1985             8.757
1  1005    2245  330562       15   1986            14.620
2  1005    2245  330562       15   1987            16.287
3  1005    2245  330562       15   1989             9.063
4  1005    2245  330562       15   1990            11.758

### Selecting the last 5 years

In [52]:
annee_inf = df["annee"].max() - 5
df = df.loc[(df["annee"] > annee_inf), :]

In [53]:
valorisation_annuelle_preprocessed = df

## Concatenation

In [54]:
X = croissance_et_climat_decadaires_preprocessed.merge(valorisation_annuelle_preprocessed, how='left', on=["ucs", "safran","sol","gestion","annee"])
X.iloc[35:39]

,id,pcu,ucs,safran,sol,type_de_prairie,gestion,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance,cumul_croissance
35,0,0,789,2131,330343,tp3,20,2009,36,-0.390,4.140,1.875,36.2,28.92,112.792,0.021,11.671
36,0,0,789,2131,330343,tp3,20,2009,37,5.250,10.083,7.667,24.8,14.59,51.940,1.818,11.671
37,0,0,789,2131,330343,tp3,20,2010,1,-2.378,2.722,0.172,16.1,33.72,58.561,0.673,3.870
38,0,0,789,2131,330343,tp3,20,2010,2,1.140,5.880,3.510,18.2,25.23,49.845,2.468,3.870

Vérifier somme croissance == cumul_croissance

### Feature selection

"type_de_prairie" is not used as input of the model and the features we created before simply add more understanding to the data and does not help the model. Making the model learn many inputs, even without knowing these features will allow it to generalise.

In [16]:
valuable_columns = ["ucs", "safran", "sol", "type_de_prairie", "gestion", "annee", "decade", "Tmin", "Tmax", "Tmoy", "Rain", "RG", "im", "croissance"]
df = df.loc[:, valuable_columns]
df.head()

,ucs,safran,sol,type_de_prairie,gestion,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
0,789,2131,330343,tp3,20,1985.0,1.0,-2.289,3.178,0.444,12.3,28.912,43.573,0.032
1,789,2131,330343,tp3,20,1985.0,2.0,-5.740,-0.410,-3.075,19.5,33.793,104.188,0.000
2,789,2131,330343,tp3,20,1985.0,3.0,3.770,9.130,6.450,36.8,24.751,82.772,0.046
3,789,2131,330343,tp3,20,1985.0,4.0,8.230,12.450,10.340,14.4,32.975,26.195,0.075
4,789,2131,330343,tp3,20,1985.0,5.0,-1.380,2.520,0.570,25.3,48.912,88.562,0.015

In [34]:
(X.isna() | X.isnull()).sum().sum() == 0

True

In [35]:
Y = pd.DataFrame({'croissance':X.pop('croissance')})
Y

         croissance
0             0.216
1            11.649
2            12.362
3             6.984
4            10.092
...             ...
4346940      19.873
4346941      19.150
4346942      25.037
4346943      37.715
4346944      27.450

[4346945 rows x 1 columns]

In [36]:
X

,ucs,safran,sol,type_de_prairie,gestion,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,cumul_croissance
0,640,1309,330637,tp3,3,2009,1,-0.211,4.000,1.894,7.7,36.410,23.952,17.656
1,640,1309,330637,tp3,3,2009,2,4.520,9.080,6.800,33.1,33.310,72.899,17.656
2,640,1309,330637,tp3,3,2009,3,5.010,9.350,7.180,70.6,32.130,152.049,17.656
3,640,1309,330637,tp3,3,2009,4,2.730,6.410,4.570,24.9,40.760,63.233,17.656
4,640,1309,330637,tp3,3,2009,5,3.740,9.050,6.395,26.0,54.430,58.676,17.656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4346940,1610,3886,330563,tp4,16,2013,33,6.200,9.470,7.835,4.5,42.949,9.336,10.762
4346941,1610,3886,330563,tp4,16,2013,34,5.770,9.390,7.580,0.0,42.172,0.000,10.762
4346942,1610,3886,330563,tp4,16,2013,35,7.610,10.930,9.270,2.4,44.711,4.608,10.762
4346943,1610,3886,330563,tp4,16,2013,36,9.660,11.790,10.725,52.5,21.891,93.727,10.762
4346944,1610,3886,330563,tp4,16,2013,37,8.467,11.667,10.067,33.0,18.161,60.847,10.762