# Exploratory Data Analysis

In [1]:
# Importing the libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Define settings
import os

pd.set_option("display.precision", 3)
data_dir_path = os.getcwd() + '/dataverse_files/'

In [3]:
# Importing data
import pyreadr

croissance_et_climat_decadaires = pyreadr.read_r(data_dir_path + "croissance_et_climat_decadaires.rds" ).popitem()[1]
valorisation_annuelle = pyreadr.read_r(data_dir_path + "valorisation_annuelle.rds" ).popitem()[1]

## Analysis of growths and decadal climates

In [48]:
df = croissance_et_climat_decadaires

In [49]:
df.head()

,ucs,safran,sol,type_de_prairie,gestion,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
0,789,2131,330343,tp3,20,1985.0,1.0,-2.289,3.178,0.444,12.3,28.912,43.573,0.032
1,789,2131,330343,tp3,20,1985.0,2.0,-5.740,-0.410,-3.075,19.5,33.793,104.188,0.000
2,789,2131,330343,tp3,20,1985.0,3.0,3.770,9.130,6.450,36.8,24.751,82.772,0.046
3,789,2131,330343,tp3,20,1985.0,4.0,8.230,12.450,10.340,14.4,32.975,26.195,0.075
4,789,2131,330343,tp3,20,1985.0,5.0,-1.380,2.520,0.570,25.3,48.912,88.562,0.015

In [50]:
print(df.shape)
print(df.columns)
print(df.info())

(18693829, 14)
Index(['ucs', 'safran', 'sol', 'type_de_prairie', 'gestion', 'annee', 'decade',
       'Tmin', 'Tmax', 'Tmoy', 'Rain', 'RG', 'im', 'croissance'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18693829 entries, 0 to 18693828
Data columns (total 14 columns):
 #   Column           Dtype
---  ------           -----
 0   ucs              int32
 1   safran           int32
 2   sol              int32
 3   type_de_prairie  object
 4   gestion          int32
 5   annee            float64
 6   decade           float64
 7   Tmin             float64
 8   Tmax             float64
 9   Tmoy             float64
 10  Rain             float64
 11  RG               float64
 12  im               float64
 13  croissance       float64
dtypes: float64(9), int32(4), object(1)
memory usage: 1.7+ GB
None

In [51]:
# To check null values row-wise
df.isnull().sum()

ucs                     0
safran                  0
sol                     0
type_de_prairie         0
gestion                 0
annee               20262
decade              20262
Tmin               126008
Tmax               126008
Tmoy               126008
Rain               126008
RG                 126008
im                 126008
croissance          20262
dtype: int64

#### Define the columns used in the paper

In [52]:
valuable_columns = ["ucs", "annee","decade","Tmin","Tmax","Tmoy","Rain","RG","im"]
df = df[valuable_columns]

In [53]:
df.head()

   ucs   annee  decade   Tmin    Tmax    Tmoy  Rain      RG       im
0  789  1985.0     1.0 -2.289   3.178   0.444  12.3  28.912   43.573
1  789  1985.0     2.0 -5.740  -0.410  -3.075  19.5  33.793  104.188
2  789  1985.0     3.0  3.770   9.130   6.450  36.8  24.751   82.772
3  789  1985.0     4.0  8.230  12.450  10.340  14.4  32.975   26.195
4  789  1985.0     5.0 -1.380   2.520   0.570  25.3  48.912   88.562

In [54]:
df.shape

(18693829, 9)

In [55]:
df.isnull().sum()

ucs            0
annee      20262
decade     20262
Tmin      126008
Tmax      126008
Tmoy      126008
Rain      126008
RG        126008
im        126008
dtype: int64

### Mean 10 years per ucs

In [68]:
df.groupby(["ucs"]).head()#.sample(n=10, random_state=1).mean()

          ucs   annee  decade   Tmin    Tmax    Tmoy  Rain      RG       im
0         789  1985.0     1.0 -2.289   3.178   0.444  12.3  28.912   43.573
1         789  1985.0     2.0 -5.740  -0.410  -3.075  19.5  33.793  104.188
2         789  1985.0     3.0  3.770   9.130   6.450  36.8  24.751   82.772
3         789  1985.0     4.0  8.230  12.450  10.340  14.4  32.975   26.195
4         789  1985.0     5.0 -1.380   2.520   0.570  25.3  48.912   88.562
...       ...     ...     ...    ...     ...     ...   ...     ...      ...
18429805  998  1985.0     1.0 -4.389   1.033  -1.678   7.3  39.908   32.455
18429806  998  1985.0     2.0 -7.950  -1.160  -4.555  17.6  37.915  119.596
18429807  998  1985.0     3.0  2.750   8.140   5.445  42.7  26.083  102.292
18429808  998  1985.0     4.0  7.810  11.320   9.565  13.4  42.318   25.341
18429809  998  1985.0     5.0 -1.100   2.390   0.645  22.3  60.431   77.511

[990 rows x 9 columns]

### Drop  N/A values

In [56]:
df = df.dropna(subset= ["decade", "annee"])

In [57]:
df.isnull().sum()

ucs            0
annee          0
decade         0
Tmin      105746
Tmax      105746
Tmoy      105746
Rain      105746
RG        105746
im        105746
dtype: int64

### Preprocess and sort the dataframe

In [46]:
df["annee"] = df["annee"].astype("int64")
df["decade"] = df["decade"].astype("int64")

In [59]:
df.describe(include= "all")

,ucs,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im
count,1.867e+07,1.867e+07,1.867e+07,1.857e+07,1.857e+07,1.857e+07,1.857e+07,1.857e+07,1.857e+07
mean,1.054e+03,1.999e+03,1.900e+01,8.249e+00,1.464e+01,1.145e+01,2.578e+01,1.085e+02,4.798e+01
std,2.229e+02,8.626e+00,1.068e+01,4.365e+00,5.607e+00,4.893e+00,2.499e+01,6.581e+01,4.897e+01
min,6.400e+02,1.984e+03,1.000e+00,-8.760e+00,-5.380e+00,-7.020e+00,0.000e+00,7.170e+00,0.000e+00
25%,8.880e+02,1.991e+03,1.000e+01,5.040e+00,1.043e+01,7.855e+00,6.800e+00,4.684e+01,1.144e+01
50%,1.080e+03,1.999e+03,1.900e+01,8.290e+00,1.425e+01,1.118e+01,1.890e+01,1.043e+02,3.297e+01
75%,1.222e+03,2.006e+03,2.800e+01,1.191e+01,1.910e+01,1.554e+01,3.720e+01,1.615e+02,6.876e+01
max,1.610e+03,2.013e+03,3.700e+01,2.069e+01,3.117e+01,2.530e+01,2.404e+02,2.990e+02,5.007e+02

In [ ]:
df.sort_values(by=["annee","decade"]).head()

## Analysis of annual valuations

In [ ]:
df = valorisation_annuelle

In [ ]:
valorisation_annuelle.head()

In [ ]:
valorisation_annuelle.describe()

In [ ]:
print(valorisation_annuelle.shape)
print(valorisation_annuelle.columns)
print(valorisation_annuelle.info())

In [ ]:
for column in valorisation_annuelle.columns:
    if column in croissance_et_climat_decadaires.columns:
        print(column)

## Preprocessing

In [ ]:
X = croissance_et_climat_decadaires.loc[:, ["annee","decade","Tmin","Tmax","Tmoy","Rain","RG","im"]].values.astype(float)
y = valorisation_annuelle.loc[:, ["cumul_croissance"]].values.astype(float)