# Exploratory Data Analysis

In [1]:
# Importing the libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Define settings
import os

pd.set_option("display.precision", 3)
data_dir_path = os.getcwd() + '/dataverse_files/'

In [3]:
# Importing data
import pyreadr

croissance_et_climat_decadaires = pyreadr.read_r(data_dir_path + "croissance_et_climat_decadaires.rds" ).popitem()[1]
valorisation_annuelle = pyreadr.read_r(data_dir_path + "valorisation_annuelle.rds" ).popitem()[1]

## Analysis of growths and decadal climates

In [339]:
df = croissance_et_climat_decadaires

In [340]:
df.head()

,ucs,safran,sol,type_de_prairie,gestion,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
0,789,2131,330343,tp3,20,1985.0,1.0,-2.289,3.178,0.444,12.3,28.912,43.573,0.032
1,789,2131,330343,tp3,20,1985.0,2.0,-5.740,-0.410,-3.075,19.5,33.793,104.188,0.000
2,789,2131,330343,tp3,20,1985.0,3.0,3.770,9.130,6.450,36.8,24.751,82.772,0.046
3,789,2131,330343,tp3,20,1985.0,4.0,8.230,12.450,10.340,14.4,32.975,26.195,0.075
4,789,2131,330343,tp3,20,1985.0,5.0,-1.380,2.520,0.570,25.3,48.912,88.562,0.015

In [341]:
print(df.shape)
print(df.columns)
print(df.info())

(18693829, 14)
Index(['ucs', 'safran', 'sol', 'type_de_prairie', 'gestion', 'annee', 'decade',
       'Tmin', 'Tmax', 'Tmoy', 'Rain', 'RG', 'im', 'croissance'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18693829 entries, 0 to 18693828
Data columns (total 14 columns):
 #   Column           Dtype
---  ------           -----
 0   ucs              int32
 1   safran           int32
 2   sol              int32
 3   type_de_prairie  object
 4   gestion          int32
 5   annee            float64
 6   decade           float64
 7   Tmin             float64
 8   Tmax             float64
 9   Tmoy             float64
 10  Rain             float64
 11  RG               float64
 12  im               float64
 13  croissance       float64
dtypes: float64(9), int32(4), object(1)
memory usage: 1.7+ GB
None

In [342]:
df.describe(include= "all")

,ucs,safran,sol,type_de_prairie,gestion,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
count,1.869e+07,1.869e+07,1.869e+07,18693829,1.869e+07,1.867e+07,1.867e+07,1.857e+07,1.857e+07,1.857e+07,1.857e+07,1.857e+07,1.857e+07,1.867e+07
unique,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,tp4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,10563388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,1.054e+03,2.523e+03,3.308e+05,NaN,1.362e+01,1.999e+03,1.900e+01,8.249e+00,1.464e+01,1.145e+01,2.578e+01,1.085e+02,4.798e+01,3.710e+01
std,2.229e+02,5.508e+02,6.531e+02,NaN,9.407e+00,8.626e+00,1.068e+01,4.365e+00,5.607e+00,4.893e+00,2.499e+01,6.581e+01,4.897e+01,3.066e+01
min,6.400e+02,1.309e+03,3.303e+05,NaN,1.000e+00,1.984e+03,1.000e+00,-8.760e+00,-5.380e+00,-7.020e+00,0.000e+00,7.170e+00,0.000e+00,0.000e+00
25%,8.880e+02,2.120e+03,3.306e+05,NaN,5.000e+00,1.991e+03,1.000e+01,5.040e+00,1.043e+01,7.855e+00,6.800e+00,4.684e+01,1.144e+01,1.090e+01
50%,1.080e+03,2.497e+03,3.306e+05,NaN,1.500e+01,1.999e+03,1.900e+01,8.290e+00,1.425e+01,1.118e+01,1.890e+01,1.043e+02,3.297e+01,2.812e+01
75%,1.222e+03,2.895e+03,3.306e+05,NaN,2.100e+01,2.006e+03,2.800e+01,1.191e+01,1.910e+01,1.554e+01,3.720e+01,1.615e+02,6.876e+01,5.997e+01
max,1.610e+03,3.886e+03,3.327e+05,NaN,3.000e+01,2.013e+03,3.700e+01,2.069e+01,3.117e+01,2.530e+01,2.404e+02,2.990e+02,5.007e+02,1.424e+02

In [343]:
df[["ucs", "safran", "sol"]].corr()

          ucs  safran    sol
ucs     1.000   0.937  0.085
safran  0.937   1.000  0.032
sol     0.085   0.032  1.000

#### Define the columns used in the paper

In [344]:
# sol as PCU ?
valuable_columns = ["sol", "annee", "decade", "Tmin", "Tmax", "Tmoy", "Rain", "RG", "im", "croissance"]
df = croissance_et_climat_decadaires[valuable_columns]

In [345]:
df.head()

,sol,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
0,330343,1985.0,1.0,-2.289,3.178,0.444,12.3,28.912,43.573,0.032
1,330343,1985.0,2.0,-5.740,-0.410,-3.075,19.5,33.793,104.188,0.000
2,330343,1985.0,3.0,3.770,9.130,6.450,36.8,24.751,82.772,0.046
3,330343,1985.0,4.0,8.230,12.450,10.340,14.4,32.975,26.195,0.075
4,330343,1985.0,5.0,-1.380,2.520,0.570,25.3,48.912,88.562,0.015

In [346]:
df.shape

(18693829, 10)

In [347]:
(df.isna() | df.isnull()).sum()

sol                0
annee          20262
decade         20262
Tmin          126008
Tmax          126008
Tmoy          126008
Rain          126008
RG            126008
im            126008
croissance     20262
dtype: int64

### Mean 10 years per PUD

In [348]:
df_10y = df.groupby(["sol", "annee", "decade"]).sample(n=10, replace=True)
df_10y = df_10y.groupby(["sol", "annee", "decade"]).mean()
df = df_10y.reset_index()

In [349]:
df.head()

,sol,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
0,330343,1984.0,1.0,4.319,8.684,6.501,28.333,28.023,63.585,2.260
1,330343,1984.0,2.0,4.054,9.178,6.616,44.800,25.059,99.597,2.095
2,330343,1984.0,3.0,3.101,8.089,5.595,52.089,40.774,123.923,1.863
3,330343,1984.0,4.0,6.569,10.477,8.523,30.730,37.455,61.770,5.387
4,330343,1984.0,5.0,-0.275,7.285,3.505,0.000,96.539,0.000,4.565

In [350]:
df.describe()

,sol,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
count,26640.000,26640.000,26640.000,26640.000,26640.000,26640.000,26640.000,26640.000,26640.000,26640.000
mean,331246.125,1998.500,19.000,8.325,14.679,11.502,25.188,108.530,46.667,36.185
std,965.872,8.656,10.677,4.296,5.513,4.821,22.997,65.176,44.969,28.308
min,330343.000,1984.000,1.000,-7.271,-3.352,-5.194,0.000,8.641,0.000,0.000
25%,330506.500,1991.000,10.000,5.137,10.488,7.942,7.470,47.399,12.461,11.981
50%,330598.500,1998.500,19.000,8.356,14.319,11.250,19.345,105.313,33.619,28.480
75%,332378.250,2006.000,28.000,11.960,19.153,15.588,36.470,160.627,67.194,56.757
max,332668.000,2013.000,37.000,19.272,30.474,24.582,190.740,297.139,386.310,129.955

### Preprocess and sort the dataframe

In [351]:
df["annee"] = df["annee"].astype("int64")
df["decade"] = df["decade"].astype("int64")

In [352]:
dfgroup = df
dfgroup.head()

,sol,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
0,330343,1984,1,4.319,8.684,6.501,28.333,28.023,63.585,2.260
1,330343,1984,2,4.054,9.178,6.616,44.800,25.059,99.597,2.095
2,330343,1984,3,3.101,8.089,5.595,52.089,40.774,123.923,1.863
3,330343,1984,4,6.569,10.477,8.523,30.730,37.455,61.770,5.387
4,330343,1984,5,-0.275,7.285,3.505,0.000,96.539,0.000,4.565

In [353]:
dfgroup = dfgroup.groupby(["sol", "annee"]).count()
dfgroup.head()

              decade  Tmin  Tmax  Tmoy  Rain  RG  im  croissance
sol    annee
330343 1984       37    37    37    37    37  37  37          37
       1985       37    37    37    37    37  37  37          37
       1986       37    37    37    37    37  37  37          37
       1987       37    37    37    37    37  37  37          37
       1988       37    37    37    37    37  37  37          37

In [354]:
df.describe()

,sol,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
count,26640.000,26640.000,26640.000,26640.000,26640.000,26640.000,26640.000,26640.000,26640.000,26640.000
mean,331246.125,1998.500,19.000,8.325,14.679,11.502,25.188,108.530,46.667,36.185
std,965.872,8.656,10.677,4.296,5.513,4.821,22.997,65.176,44.969,28.308
min,330343.000,1984.000,1.000,-7.271,-3.352,-5.194,0.000,8.641,0.000,0.000
25%,330506.500,1991.000,10.000,5.137,10.488,7.942,7.470,47.399,12.461,11.981
50%,330598.500,1998.500,19.000,8.356,14.319,11.250,19.345,105.313,33.619,28.480
75%,332378.250,2006.000,28.000,11.960,19.153,15.588,36.470,160.627,67.194,56.757
max,332668.000,2013.000,37.000,19.272,30.474,24.582,190.740,297.139,386.310,129.955

In [355]:
df.nunique()

sol              24
annee            30
decade           37
Tmin          15354
Tmax          16909
Tmoy          20085
Rain           9355
RG            26418
im            26371
croissance    26510
dtype: int64

In [356]:
(df.isna() | df.isnull()).sum()

sol           0
annee         0
decade        0
Tmin          0
Tmax          0
Tmoy          0
Rain          0
RG            0
im            0
croissance    0
dtype: int64

## Analysis of annual valuations

In [86]:
df = valorisation_annuelle

In [87]:
valorisation_annuelle.head()

,ucs,safran,sol,type_de_prairie,gestion,annee,valorisation,RU,cumul_croissance
0,1005,2245,330562,tp3,15,1985.0,4.964,97.42,8.757
1,1005,2245,330562,tp3,15,1986.0,8.173,97.42,14.620
2,1005,2245,330562,tp3,15,1987.0,12.666,97.42,16.287
3,1005,2245,330562,tp3,15,1989.0,5.825,97.42,9.063
4,1005,2245,330562,tp3,15,1990.0,7.212,97.42,11.758

In [88]:
valorisation_annuelle.describe()

,ucs,safran,sol,gestion,annee,valorisation,RU,cumul_croissance
count,535406.000,535406.000,535406.000,535406.000,535406.000,535406.000,535406.000,535406.000
mean,1050.229,2509.312,330824.012,13.939,1998.691,9.799,102.657,13.771
std,221.389,548.252,652.279,9.559,8.625,3.713,41.150,3.777
min,640.000,1309.000,330343.000,1.000,1984.000,0.000,21.139,0.754
25%,875.000,2115.000,330556.000,5.000,1991.000,7.131,89.180,11.155
50%,1080.000,2493.000,330563.000,15.000,1999.000,9.824,97.420,13.813
75%,1218.000,2889.000,330638.000,22.000,2006.000,12.452,148.680,16.441
max,1610.000,3886.000,332668.000,30.000,2013.000,23.039,351.240,26.845

In [89]:
print(valorisation_annuelle.shape)
print(valorisation_annuelle.columns)
print(valorisation_annuelle.info())

(535406, 9)
Index(['ucs', 'safran', 'sol', 'type_de_prairie', 'gestion', 'annee',
       'valorisation', 'RU', 'cumul_croissance'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535406 entries, 0 to 535405
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ucs               535406 non-null  int32
 1   safran            535406 non-null  int32
 2   sol               535406 non-null  int32
 3   type_de_prairie   535406 non-null  object
 4   gestion           535406 non-null  int32
 5   annee             535406 non-null  float64
 6   valorisation      535406 non-null  float64
 7   RU                535406 non-null  float64
 8   cumul_croissance  535406 non-null  float64
dtypes: float64(4), int32(4), object(1)
memory usage: 28.6+ MB
None

In [90]:
for column in valorisation_annuelle.columns:
    if column in croissance_et_climat_decadaires.columns:
        print(column)

ucs
safran
sol
type_de_prairie
gestion
annee

In [91]:
valuable_columns = ["sol", "annee", "cumul_croissance"]
df = df[valuable_columns]

In [92]:
(df.isna() | df.isnull()).sum()

sol                 0
annee               0
cumul_croissance    0
dtype: int64

In [93]:
df.groupby("annee").nunique()

        sol  cumul_croissance
annee
1984.0   24              7786
1985.0   24             16089
1986.0   24             15765
1987.0   24             10789
1988.0   24             13187
1989.0   24             16097
1990.0   24             10595
1991.0   24             16558
1992.0   24             13431
1993.0   24             10739
1994.0   24             15895
1995.0   24             16477
1996.0   24              7831
1997.0   24             16260
1998.0   24             15778
1999.0   24             10777
2000.0   24             13367
2001.0   24             16454
2002.0   24             10391
2003.0   24             16420
2004.0   24             13361
2005.0   24             10899
2006.0   24             16058
2007.0   24             16484
2008.0   24              7664
2009.0   24             15980
2010.0   24             15869
2011.0   24             10934
2012.0   24             13395
2013.0   24             16327

### Mean 10 years per PUD

In [94]:
df_10y = df.groupby(["sol", "annee"]).sample(n=10, replace=True)
df = df_10y.groupby(["sol", "annee"]).mean()
df.head()

               cumul_croissance
sol    annee
330343 1984.0             7.237
       1985.0             8.309
       1986.0            13.034
       1987.0            14.227
       1988.0            13.353

### Preprocess and sort the dataframe

In [95]:
df.reset_index()
df["annee"] = df["annee"].astype("int64")
df = df.sort_values(by=["sol", "annee"])
df.head()

KeyError: 'annee'

In [ ]:
df.describe(include= "all")

## Preprocessing

In [ ]:
X = croissance_et_climat_decadaires.loc[:, ["annee","decade","Tmin","Tmax","Tmoy","Rain","RG","im"]].values.astype(float)
y = valorisation_annuelle.loc[:, ["cumul_croissance"]].values.astype(float)