# Exploratory Data Analysis

In [36]:
# Importing the libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [37]:
# Define settings
import os

pd.set_option("display.precision", 3)
data_dir_path = os.getcwd() + '/dataverse_files/'

In [38]:
# Importing data
import pyreadr

croissance_et_climat_decadaires = pyreadr.read_r(data_dir_path + "croissance_et_climat_decadaires.rds" ).popitem()[1]
valorisation_annuelle = pyreadr.read_r(data_dir_path + "valorisation_annuelle.rds" ).popitem()[1]

## Analysis of growths and decadal climates

In [109]:
df = croissance_et_climat_decadaires

In [110]:
df.head()

,ucs,safran,sol,type_de_prairie,gestion,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
0,789,2131,330343,tp3,20,1985.0,1.0,-2.289,3.178,0.444,12.3,28.912,43.573,0.032
1,789,2131,330343,tp3,20,1985.0,2.0,-5.740,-0.410,-3.075,19.5,33.793,104.188,0.000
2,789,2131,330343,tp3,20,1985.0,3.0,3.770,9.130,6.450,36.8,24.751,82.772,0.046
3,789,2131,330343,tp3,20,1985.0,4.0,8.230,12.450,10.340,14.4,32.975,26.195,0.075
4,789,2131,330343,tp3,20,1985.0,5.0,-1.380,2.520,0.570,25.3,48.912,88.562,0.015

In [111]:
print(df.shape)
print(df.columns)
print(df.info())

(18693829, 14)
Index(['ucs', 'safran', 'sol', 'type_de_prairie', 'gestion', 'annee', 'decade',
       'Tmin', 'Tmax', 'Tmoy', 'Rain', 'RG', 'im', 'croissance'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18693829 entries, 0 to 18693828
Data columns (total 14 columns):
 #   Column           Dtype
---  ------           -----
 0   ucs              int32
 1   safran           int32
 2   sol              int32
 3   type_de_prairie  object
 4   gestion          int32
 5   annee            float64
 6   decade           float64
 7   Tmin             float64
 8   Tmax             float64
 9   Tmoy             float64
 10  Rain             float64
 11  RG               float64
 12  im               float64
 13  croissance       float64
dtypes: float64(9), int32(4), object(1)
memory usage: 1.7+ GB
None

In [112]:
df.describe(include= "all")

,ucs,safran,sol,type_de_prairie,gestion,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
count,1.869e+07,1.869e+07,1.869e+07,18693829,1.869e+07,1.867e+07,1.867e+07,1.857e+07,1.857e+07,1.857e+07,1.857e+07,1.857e+07,1.857e+07,1.867e+07
unique,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,tp4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,10563388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,1.054e+03,2.523e+03,3.308e+05,NaN,1.362e+01,1.999e+03,1.900e+01,8.249e+00,1.464e+01,1.145e+01,2.578e+01,1.085e+02,4.798e+01,3.710e+01
std,2.229e+02,5.508e+02,6.531e+02,NaN,9.407e+00,8.626e+00,1.068e+01,4.365e+00,5.607e+00,4.893e+00,2.499e+01,6.581e+01,4.897e+01,3.066e+01
min,6.400e+02,1.309e+03,3.303e+05,NaN,1.000e+00,1.984e+03,1.000e+00,-8.760e+00,-5.380e+00,-7.020e+00,0.000e+00,7.170e+00,0.000e+00,0.000e+00
25%,8.880e+02,2.120e+03,3.306e+05,NaN,5.000e+00,1.991e+03,1.000e+01,5.040e+00,1.043e+01,7.855e+00,6.800e+00,4.684e+01,1.144e+01,1.090e+01
50%,1.080e+03,2.497e+03,3.306e+05,NaN,1.500e+01,1.999e+03,1.900e+01,8.290e+00,1.425e+01,1.118e+01,1.890e+01,1.043e+02,3.297e+01,2.812e+01
75%,1.222e+03,2.895e+03,3.306e+05,NaN,2.100e+01,2.006e+03,2.800e+01,1.191e+01,1.910e+01,1.554e+01,3.720e+01,1.615e+02,6.876e+01,5.997e+01
max,1.610e+03,3.886e+03,3.327e+05,NaN,3.000e+01,2.013e+03,3.700e+01,2.069e+01,3.117e+01,2.530e+01,2.404e+02,2.990e+02,5.007e+02,1.424e+02

In [113]:
df[["ucs", "safran", "sol"]].corr()

          ucs  safran    sol
ucs     1.000   0.937  0.085
safran  0.937   1.000  0.032
sol     0.085   0.032  1.000

### Feature extraction

Pedo-Climatic Units (PCU), result from the crossing of the climatic information (SAFRAN grid point) and soil information (UCS soil mapping units).

In [114]:
df_unique_pcu = df[["ucs", "safran"]].drop_duplicates(subset= ['ucs', 'safran'])
df_unique_pcu['pcu'] = df_unique_pcu.reset_index().index

df = pd.merge(df, df_unique_pcu, on= ['ucs','safran'])
df.insert(0, "pcu", df.pop('pcu'))
df.head()

,pcu,ucs,safran,sol,type_de_prairie,gestion,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
0,0,789,2131,330343,tp3,20,1985.0,1.0,-2.289,3.178,0.444,12.3,28.912,43.573,0.032
1,0,789,2131,330343,tp3,20,1985.0,2.0,-5.740,-0.410,-3.075,19.5,33.793,104.188,0.000
2,0,789,2131,330343,tp3,20,1985.0,3.0,3.770,9.130,6.450,36.8,24.751,82.772,0.046
3,0,789,2131,330343,tp3,20,1985.0,4.0,8.230,12.450,10.340,14.4,32.975,26.195,0.075
4,0,789,2131,330343,tp3,20,1985.0,5.0,-1.380,2.520,0.570,25.3,48.912,88.562,0.015

In [115]:
df[["ucs", "safran", "pcu", "sol"]].corr()

          ucs  safran    pcu    sol
ucs     1.000   0.937  0.432  0.085
safran  0.937   1.000  0.444  0.032
pcu     0.432   0.444  1.000 -0.085
sol     0.085   0.032 -0.085  1.000

### Feature selection

We thought that "sol" could be the equivalent of "pcu", the grassland identifier. Since it is not correlated to any other variable, it is not an identifier.

"sol", "type_de_prairie" and "gestion" are not used as inputs of the model. aking the model learn the different inputs they have generated without knowing them will allow it to generalise.

In [116]:
# sol as PCU ?
valuable_columns = ["pcu", "ucs", "safran", "annee", "decade", "Tmin", "Tmax", "Tmoy", "Rain", "RG", "im", "croissance"]
df = df[valuable_columns]
df.head()

,pcu,ucs,safran,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
0,0,789,2131,1985.0,1.0,-2.289,3.178,0.444,12.3,28.912,43.573,0.032
1,0,789,2131,1985.0,2.0,-5.740,-0.410,-3.075,19.5,33.793,104.188,0.000
2,0,789,2131,1985.0,3.0,3.770,9.130,6.450,36.8,24.751,82.772,0.046
3,0,789,2131,1985.0,4.0,8.230,12.450,10.340,14.4,32.975,26.195,0.075
4,0,789,2131,1985.0,5.0,-1.380,2.520,0.570,25.3,48.912,88.562,0.015

In [117]:
df.groupby(["pcu","annee","decade"]).count().mean()

ucs           14.129
safran        14.129
Tmin          14.049
Tmax          14.049
Tmoy          14.049
Rain          14.049
RG            14.049
im            14.049
croissance    14.129
dtype: float64

In [118]:
(df.isna() | df.isnull()).sum()

pcu                0
ucs                0
safran             0
annee          20262
decade         20262
Tmin          126008
Tmax          126008
Tmoy          126008
Rain          126008
RG            126008
im            126008
croissance     20262
dtype: int64

In [121]:
df.dropna(inplace= True)

In [122]:
(df.isna() | df.isnull()).sum()

pcu           0
ucs           0
safran        0
annee         0
decade        0
Tmin          0
Tmax          0
Tmoy          0
Rain          0
RG            0
im            0
croissance    0
dtype: int64

Now that we have removed the NaN and Null values, we need to check whether we have any missing decades among the years. We can do it by checking that the numbers of decades per (year,pcu) pairs are multiples of 37

In [159]:
(df.groupby(["annee","pcu"]).count()[["decade"]] % 37).sum()

decade    0
dtype: int64

In [160]:
df.describe()

,pcu,ucs,safran,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
count,1.857e+07,1.857e+07,1.857e+07,1.857e+07,1.857e+07,1.857e+07,1.857e+07,1.857e+07,1.857e+07,1.857e+07,1.857e+07,1.857e+07
mean,6.350e+02,1.054e+03,2.523e+03,1.999e+03,1.900e+01,8.249e+00,1.464e+01,1.145e+01,2.578e+01,1.085e+02,4.798e+01,3.710e+01
std,3.629e+02,2.226e+02,5.498e+02,8.626e+00,1.068e+01,4.365e+00,5.607e+00,4.893e+00,2.499e+01,6.581e+01,4.897e+01,3.066e+01
min,0.000e+00,6.400e+02,1.309e+03,1.984e+03,1.000e+00,-8.760e+00,-5.380e+00,-7.020e+00,0.000e+00,7.170e+00,0.000e+00,0.000e+00
25%,3.270e+02,8.880e+02,2.120e+03,1.991e+03,1.000e+01,5.040e+00,1.043e+01,7.855e+00,6.800e+00,4.684e+01,1.144e+01,1.091e+01
50%,6.300e+02,1.080e+03,2.497e+03,1.999e+03,1.900e+01,8.290e+00,1.425e+01,1.118e+01,1.890e+01,1.043e+02,3.297e+01,2.813e+01
75%,9.550e+02,1.222e+03,2.895e+03,2.006e+03,2.800e+01,1.191e+01,1.910e+01,1.554e+01,3.720e+01,1.615e+02,6.876e+01,5.997e+01
max,1.240e+03,1.610e+03,3.886e+03,2.013e+03,3.700e+01,2.069e+01,3.117e+01,2.530e+01,2.404e+02,2.990e+02,5.007e+02,1.424e+02

In [161]:
df.groupby(["pcu","annee","decade"]).count().mean()

ucs           14.121
safran        14.121
Tmin          14.121
Tmax          14.121
Tmoy          14.121
Rain          14.121
RG            14.121
im            14.121
croissance    14.121
dtype: float64

We have about 14 simulations per PCU and time unit.

### Reshape the dataframe

In [162]:
df["annee"] = df["annee"].astype("int64")
df["decade"] = df["decade"].astype("int64")

MemoryError: Unable to allocate 1.11 GiB for an array with shape (8, 18567821) and data type float64

In [18]:
dfgroup = df
dfgroup.head()

,sol,annee,decade,ucs,safran,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
0,330343.0,1984,1,1087.248,2764.314,4.381,8.732,6.557,29.082,29.056,65.077,2.332
1,330343.0,1984,2,1087.248,2764.314,4.122,9.221,6.671,45.877,25.793,101.702,2.153
2,330343.0,1984,3,1087.248,2764.314,3.227,8.322,5.774,50.489,41.205,118.454,2.057
3,330343.0,1984,4,1087.248,2764.314,6.725,10.603,8.664,28.634,38.003,56.752,5.781
4,330343.0,1984,5,1087.248,2764.314,-0.182,7.100,3.459,0.093,96.482,0.270,4.308

In [19]:
dfgroup = dfgroup.groupby(["sol", "annee"]).count()
dfgroup.head()

                decade  ucs  safran  Tmin  Tmax  Tmoy  Rain  RG  im  \
sol      annee
330343.0 1984       37   37      37    37    37    37    37  37  37
         1985       37   37      37    37    37    37    37  37  37
         1986       37   37      37    37    37    37    37  37  37
         1987       37   37      37    37    37    37    37  37  37
         1988       37   37      37    37    37    37    37  37  37

                croissance
sol      annee
330343.0 1984           37
         1985           37
         1986           37
         1987           37
         1988           37

In [20]:
df.describe()

,sol,annee,decade,ucs,safran,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
count,26640.000,26640.000,26640.000,26640.000,26640.000,26640.000,26640.000,26640.000,26640.000,26640.000,26640.000,26640.000
mean,331246.125,1998.500,19.000,1063.870,2483.716,8.327,14.680,11.503,25.194,108.521,46.673,36.230
std,965.872,8.656,10.677,163.982,420.579,4.288,5.509,4.816,22.844,65.111,44.659,28.119
min,330343.000,1984.000,1.000,685.734,1624.963,-7.090,-3.347,-5.218,0.000,8.594,0.000,0.000
25%,330506.500,1991.000,10.000,990.063,2228.658,5.137,10.493,7.938,7.571,47.539,12.721,12.119
50%,330598.500,1998.500,19.000,1047.695,2498.312,8.346,14.317,11.242,19.300,105.046,33.606,28.564
75%,332378.250,2006.000,28.000,1179.985,2747.613,11.970,19.156,15.583,36.414,160.547,67.378,56.632
max,332668.000,2013.000,37.000,1473.000,3565.500,19.325,30.330,24.566,186.776,297.139,376.817,129.817

In [21]:
df.nunique()

sol              24
annee            30
decade           37
ucs             129
safran          138
Tmin          18793
Tmax          18958
Tmoy          19350
Rain          17683
RG            20035
im            19913
croissance    26566
dtype: int64

In [22]:
(df.isna() | df.isnull()).sum()

sol           0
annee         0
decade        0
ucs           0
safran        0
Tmin          0
Tmax          0
Tmoy          0
Rain          0
RG            0
im            0
croissance    0
dtype: int64

In [23]:
croissance_et_climat_decadaires_preprocessed = df

## Feature selection of annual valuations

In [24]:
df = valorisation_annuelle

In [25]:
df.head()

,ucs,safran,sol,type_de_prairie,gestion,annee,valorisation,RU,cumul_croissance
0,1005,2245,330562,tp3,15,1985.0,4.964,97.42,8.757
1,1005,2245,330562,tp3,15,1986.0,8.173,97.42,14.620
2,1005,2245,330562,tp3,15,1987.0,12.666,97.42,16.287
3,1005,2245,330562,tp3,15,1989.0,5.825,97.42,9.063
4,1005,2245,330562,tp3,15,1990.0,7.212,97.42,11.758

In [26]:
df.shape

(535406, 9)

In [27]:
valuable_columns = ["sol", "annee", "cumul_croissance"]
df = valorisation_annuelle[valuable_columns]

In [28]:
(df.isna() | df.isnull()).sum()

sol                 0
annee               0
cumul_croissance    0
dtype: int64

### Reshape the dataframe

In [29]:
df = df.reset_index(drop=True)
df[["annee"]] = df[["annee"]].astype("int64")

In [30]:
df.head()

      sol  annee  cumul_croissance
0  330562   1985             8.757
1  330562   1986            14.620
2  330562   1987            16.287
3  330562   1989             9.063
4  330562   1990            11.758

In [31]:
df.describe()

              sol       annee  cumul_croissance
count  535406.000  535406.000        535406.000
mean   330824.012    1998.691            13.771
std       652.279       8.625             3.777
min    330343.000    1984.000             0.754
25%    330556.000    1991.000            11.155
50%    330563.000    1999.000            13.813
75%    330638.000    2006.000            16.441
max    332668.000    2013.000            26.845

In [32]:
valorisation_annuelle_preprocessed = df

## Concatenation

In [33]:
X = croissance_et_climat_decadaires_preprocessed.merge(valorisation_annuelle_preprocessed, how='right', on=["sol", "annee"])
#[
#    croissance_et_climat_decadaires_preprocessed.loc[:, ["sol", "annee", "decade", "Tmin", "Tmax", "Tmoy", "Rain", "RG", "im", "croissance"]],
#    valorisation_annuelle_preprocessed.loc[:, ["sol", "annee", "cumul_croissance"]]
#    ]
#y = df.loc[:, ["cumul_croissance"]].values.astype(float)
X

,sol,annee,decade,ucs,safran,Tmin,Tmax,Tmoy,Rain,RG,im,croissance,cumul_croissance
0,330562.0,1985,1,1027.266,2509.783,-2.535,2.440,-0.047,9.819,36.384,35.623,1.486,8.757
1,330562.0,1985,2,1027.266,2509.783,-5.712,-0.420,-3.066,20.326,31.640,108.544,0.086,8.757
2,330562.0,1985,3,1027.266,2509.783,3.558,8.643,6.101,51.607,24.505,118.252,5.053,8.757
3,330562.0,1985,4,1027.266,2509.783,8.009,11.367,9.688,15.251,35.830,28.764,17.910,8.757
4,330562.0,1985,5,1027.266,2509.783,-0.880,2.595,0.858,30.177,49.275,101.987,6.563,8.757
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19810017,330563.0,2013,33,1027.266,2509.783,4.060,8.044,6.052,22.763,31.289,52.634,8.367,11.723
19810018,330563.0,2013,34,1027.266,2509.783,3.614,8.284,5.949,2.572,27.643,5.931,7.046,11.723
19810019,330563.0,2013,35,1027.266,2509.783,2.212,8.318,5.265,6.883,38.302,16.212,5.730,11.723
19810020,330563.0,2013,36,1027.266,2509.783,6.436,10.526,8.481,95.587,21.938,192.008,15.121,11.723
19810021,330563.0,2013,37,1027.266,2509.783,5.014,10.195,7.605,41.041,18.562,86.316,10.393,11.723

In [34]:
X.describe()

,sol,annee,decade,ucs,safran,Tmin,Tmax,Tmoy,Rain,RG,im,croissance,cumul_croissance
count,1.981e+07,1.981e+07,1.981e+07,1.981e+07,1.981e+07,1.981e+07,1.981e+07,1.981e+07,1.981e+07,1.981e+07,1.981e+07,1.981e+07,1.981e+07
mean,3.308e+05,1.999e+03,1.900e+01,1.053e+03,2.519e+03,8.252e+00,1.464e+01,1.145e+01,2.584e+01,1.085e+02,4.811e+01,3.717e+01,1.377e+01
std,6.523e+02,8.625e+00,1.068e+01,9.787e+01,2.222e+02,4.302e+00,5.537e+00,4.845e+00,2.319e+01,6.477e+01,4.558e+01,2.810e+01,3.777e+00
min,3.303e+05,1.984e+03,1.000e+00,6.857e+02,1.625e+03,-7.090e+00,-3.347e+00,-5.218e+00,0.000e+00,8.594e+00,0.000e+00,0.000e+00,7.538e-01
25%,3.306e+05,1.991e+03,1.000e+01,1.010e+03,2.432e+03,5.016e+00,1.043e+01,7.873e+00,7.968e+00,4.763e+01,1.331e+01,1.264e+01,1.116e+01
50%,3.306e+05,1.999e+03,1.900e+01,1.027e+03,2.510e+03,8.281e+00,1.426e+01,1.113e+01,1.986e+01,1.055e+02,3.439e+01,3.013e+01,1.381e+01
75%,3.306e+05,2.006e+03,2.800e+01,1.122e+03,2.645e+03,1.193e+01,1.916e+01,1.556e+01,3.759e+01,1.605e+02,6.961e+01,5.839e+01,1.644e+01
max,3.327e+05,2.013e+03,3.700e+01,1.473e+03,3.566e+03,1.932e+01,3.033e+01,2.457e+01,1.868e+02,2.971e+02,3.768e+02,1.298e+02,2.684e+01